doctype
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
  body
    form(method="post", action="/signin")
      input(type="text", name="username")
      input(type="password", name="password")
      button Enviar
